// @use "~inter-ui/default" with (
//   $inter-font-display: swap,
//   $inter-font-path: '~inter-ui/Inter (web)'
// );
// @use "~inter-ui/variable" with (
//   $inter-font-display: swap,
//   $inter-font-path: '~inter-ui/Inter (web)'
// );

// @include default.all;
// @include variable.all;

// * {
//   border: 0;
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

// html { 
//   height: 100%;
//   font-family: "Inter", "system-ui", 'Montserrat', sans-serif;
//   font-size: 14px;
// }

// @supports (font-variation-settings: normal) {
//   html { font-family: "Inter var", "system-ui"; }
// }

// :root {
//   --color-primary-accent: #5b34da;
//   --color-primary: #000;
//   --color-background: #fff;
//   --color-secondary-accent: #358ef1;
//   --color-bg: #ffffff;
//   --scrollbar-track-color: #f1f1f1;
//   --scrollbar-thumb-color: #888;

//   --background-dark: #2d3548;
//   --text-light: rgba(255,255,255,0.6);
//   --text-lighter: rgba(255,255,255,0.9);
//   --spacing-s: 8px;
//   --spacing-m: 16px;
//   --spacing-l: 24px;
//   --spacing-xl: 32px;
//   --spacing-xxl: 64px;
//   --width-container: 1200px;

// }

@import './base/reset';
@import './base/tokens';
@import './base/theme';
@import './base/utils';

// @import './components/nav';
// @import './components/profile';
@import './components/projects';
@import './components/card';
@import './components/product_card';


// @media(prefers-reduced-motion: no-preference) {
//   :root {
//     scroll-behavior: smooth;
//   }
// }

// ::-webkit-scrollbar {
//   width: 12px;
// }
// ::-webkit-scrollbar-track {
//   border-radius: 3px;
//   background-color: var(--scrollbar-track-color);
// }
// ::-webkit-scrollbar-thumb {
//   background-color: var(--scrollbar-thumb-color);
//   border-radius: 5px;
//   border: 2px solid #fff;
// }
// ::-webkit-scrollbar-thumb:hover {
//   background: #555; 
// } 

// @media (prefers-color-scheme: dark) {
//   :root {
//     --scrollbar-track-color: #888;
//     --scrollbar-thumb-color: #f1f1f1;
//   }
// }

// @media (prefers-color-scheme: dark) {
//   body {
//     background: #000;
//     color: #fff;
//   }
//   // html:not(html.light) {
//   html {
//     body {
//       background-color: #111927;
//     }

//     nav.nav {
//       backdrop-filter: blur(8px);
//       -webkit-backdrop-filter: blur(8px);
//       background-color: rgba(17,25,40,.75);
//       border-bottom: 1px solid rgba(255,255,255,.125);
//     }
//   }
// }

// .wrapper {
//   width: 900px;
//   margin-top: 110px;
//   margin-left: auto;
//   margin-right: auto;
// }

// body {
//   margin: 0;
//   padding: 0;
//   height: 100%;
// }

// footer {
//   background: #000;
//   color: #fff;
//   padding: 10px;
// }

// nav.nav {
//   // display: flex;
//   // position: fixed;
//   // left: 0;
//   // top: 0;
//   // width: 100%;

//   backdrop-filter: blur(16px) saturate(180%);
//   -webkit-backdrop-filter: blur(16px) saturate(180%);
//   background-color: rgba(255, 255, 255, 0.75);
//   border-radius: 0px;
//   // border: 1px solid rgba(209, 213, 219, 0.3);
  
//   ul.nav__list {
//       display: flex;
//       margin-left: 69px;

//     li.nav__list-item {
//         display: inline-flex;
//         padding: 0 10px;
//     }

//   }

// }

// .backdrop-blur {
//   backdrop-filter: blur(8px);
//   -webkit-backdrop-filter: blur(8px);
//   background-color: rgba(17,25,40,.75);
//   // border-bottom: 1px solid rgba(255,255,255,.125);
// }

// [data-theme="dark"] {
//   --color-bg: #000000;
//   --color-primary-accent: #9d86e9;
//   --color-secondary-accent: #61dafb;
//   --color-primary: #fff;
//   --color-background: #000;
// }
// body {
//   background-color: var(--color-bg);
//   background-color: var(--color-background);
//   color: var(--color-primary);

//   font-size: 18px;
//   font-family: -apple-system, BlinkMacSystemFont, Inter, Roboto, Segoe UI,
//     Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
//     sans-serif;
// }

// section {
//   padding: 40px 30px;

//   &.hero-section {
//     padding: 0!important;
//     align-items: flex-start;
//     background-image: linear-gradient(15deg, #0f4667 0%, #2a6973 150%);
//     display: flex;
//     min-height: 100%;
//     justify-content: center;
//     padding: var(--spacing-xxl) var(--spacing-l);
//   }

//   .hero {
//     min-height: 100vh;
//     background-color: rgb(41, 42, 46);
//     width: 100%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     color: white;
//   }
// }

.cursor {
  position: absolute;
  left: 0;
  top: 0;
  border: 1.5px solid white;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  z-index: 100;
  transform: translate(-50%, -50%);

  &::after, &::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    left: 50%;
    top: 50%;
    border-radius: 50px;
    transform: translate(-50%, -50%);
    background-color: white;
  }
  &::before {
    background-color: red;
    // transform: translate(-50%, -50%) scale(3);
  }

  &.click::before {
    animation: click 1s ease-in-out;
  }
}

// @keyframes click {
//   0% {
//     opacity: 1;
//     transform: translate(-50%, -50%) scale(1);
//   }
//   100% {
//     opacity: 0;
//     transform: translate(-50%, -50%) scale(5);
//   }
// }